<div style="width: 1820px; height: 992px; background: #444444">
    <div class="Frame28" style="width: 1820px; height: 987px; padding: 24px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 15px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
      <div class="Row1" style="align-self: stretch; height: 76px; justify-content: flex-start; align-items: center; gap: 1483px; display: inline-flex">
        <div class="OrderDetails" style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Title" style="padding-bottom: 8px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div class="UserName" style="width: 200px; color: #172B4D; font-size: 30px; font-family: Open Sans; font-weight: 600; line-height: 48.75px; word-wrap: break-word">user name</div>
          </div>
        </div>
        <div class="ButtonTallFlexiblePrimaryBlack" style="width: 86px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: linear-gradient(264deg, #627594 0%, #8CA1CB 70%); box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); border-radius: 8px; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
          <div class="ButtonText" style="text-align: right; color: white; font-size: 15px; font-family: Open Sans; font-weight: 700; line-height: 22.50px; word-wrap: break-word">로그아웃</div>
        </div>
      </div>
      <div class="SeparatorGradient" style="width: 1772px; height: 0px; border: 1px #E0E1E2 solid"></div>
      <div class="Row2" style="align-self: stretch; height: 126px; background: linear-gradient(0deg, white 0%, white 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%); justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
        <img class="Image1" style="width: 102px; height: 102px" src="https://via.placeholder.com/102x102" />
        <div class="Text" style="width: 1517px; align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
          <div class="Frame25" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 228.72px; color: #172B4D; font-size: 16px; font-family: Open Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">오늘의 추천 시즌 레시피</div>
            <div style="color: #172B4D; font-size: 14px; font-family: Open Sans; font-weight: 400; line-height: 19.88px; word-wrap: break-word">소개: 봄감자를 이용한 간단한 웨지감자 </div>
          </div>
        </div>
        <div class="Right" style="align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; gap: 8px; display: inline-flex">
          <div class="ButtonTallFlexiblePrimaryBlack" style="height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: linear-gradient(122deg, #11CDEF 0%, #1171EF 100%); box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); border-radius: 8px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
            <div class="ButtonText" style="text-align: right; color: white; font-size: 12px; font-family: Open Sans; font-weight: 700; line-height: 18px; word-wrap: break-word">상세 레시피 보기</div>
          </div>
          <div class="ButtonTallFlexiblePrimaryBlack" style="height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; background: linear-gradient(92deg, #FBB140 0%, #FB6340 100%); box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); border-radius: 8px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
            <div class="ButtonText" style="text-align: right; color: #F6F9FC; font-size: 12px; font-family: Open Sans; font-weight: 700; line-height: 18px; word-wrap: break-word">다른 레시피 보기</div>
          </div>
        </div>
      </div>
      <div class="Row3" style="width: 1756px"></div>
      <div class="Group21" style="width: 1770px; position: relative">
        <div class="CardOrders" style="width: 279px; height: 646px; left: 0px; top: 0px; position: absolute; background: linear-gradient(180deg, rgba(88.19, 179.93, 255, 0.40) 40%, rgba(52.91, 107.96, 153, 0.40) 60%); border-radius: 5px; border: 1px #090CD9 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 50px; display: inline-flex">
          <div class="Title" style="align-self: stretch; height: 60px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
            <div style="width: 240px; height: 60px; color: #F11666; font-size: 24px; font-family: Open Sans; font-weight: 600; line-height: 39px; word-wrap: break-word">유통 기한이 임박한 재료<br/></div>
          </div>
          <div class="List" style="align-self: stretch; height: 61px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
            <div class="RowOrders" style="width: 279px; height: 61px; position: relative">
              <div class="Frame25" style="left: 38px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div class="2400DesignChanges" style="width: 302px"><span style="color: #7B62E4; font-size: 16px; font-family: Open Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">맛있는 우유</span><span style="color: #172B4D; font-size: 16px; font-family: Open Sans; font-weight: 600; line-height: 26px; word-wrap: break-word"> <br/></span><span style="color: #8392AB; font-size: 16px; font-family: Open Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">제품 id : 2356919400039</span></div>
                <div class="Dec720Pm" style="width: 277px"><span style="color: #212529; font-size: 16px; font-family: Open Sans; font-weight: 700; line-height: 24px; word-wrap: break-word">남은 기한 </span><span style="color: #F5365C; font-size: 16px; font-family: Open Sans; font-weight: 700; line-height: 24px; word-wrap: break-word"> : 1일 </span></div>
              </div>
              <div class="Vector25" style="width: 0px; height: 35px; left: 7.39px; top: 26px; position: absolute; border: 2px #E9ECEF solid"></div>
              <div class="IconsSolid" style="width: 13.13px; height: 16px; left: 0px; top: 3px; position: absolute"></div>
            </div>
          </div>
          <div class="List" style="align-self: stretch; height: 61px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
            <div class="RowOrders" style="width: 279px; height: 61px; position: relative">
              <div class="Frame25" style="left: 38px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div class="2400DesignChanges" style="width: 302px"><span style="color: #7B62E4; font-size: 16px; font-family: Open Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">소고기 목살 <br/></span><span style="color: #8392AB; font-size: 16px; font-family: Open Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">제품 id : 2356919400039</span></div>
                <div class="Dec720Pm" style="width: 277px"><span style="color: #212529; font-size: 16px; font-family: Open Sans; font-weight: 700; line-height: 24px; word-wrap: break-word">남은 기한 </span><span style="color: #F5365C; font-size: 16px; font-family: Open Sans; font-weight: 700; line-height: 24px; word-wrap: break-word"> : 3일 </span></div>
              </div>
              <div class="Vector25" style="width: 0px; height: 35px; left: 7.39px; top: 26px; position: absolute; border: 2px #E9ECEF solid"></div>
              <div class="IconsSolid" style="width: 13.13px; height: 16px; left: 0px; top: 3px; position: absolute"></div>
            </div>
          </div>
          <div class="List" style="align-self: stretch; height: 61px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
            <div class="RowOrders" style="width: 279px; height: 61px; position: relative">
              <div class="Frame25" style="left: 38px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div class="2400DesignChanges" style="width: 302px"><span style="color: #7B62E4; font-size: 16px; font-family: Open Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">고등어<br/></span><span style="color: #8392AB; font-size: 16px; font-family: Open Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">제품 id : 2356919400039</span></div>
                <div class="Dec720Pm" style="width: 277px"><span style="color: #212529; font-size: 16px; font-family: Open Sans; font-weight: 700; line-height: 24px; word-wrap: break-word">남은 기한 </span><span style="color: #F5365C; font-size: 16px; font-family: Open Sans; font-weight: 700; line-height: 24px; word-wrap: break-word"> : 7일 </span></div>
              </div>
              <div class="Vector25" style="width: 0px; height: 35px; left: 7.39px; top: 26px; position: absolute; border: 2px #E9ECEF solid"></div>
              <div class="IconsSolid" style="width: 13.13px; height: 16px; left: 0px; top: 3px; position: absolute"></div>
            </div>
          </div>
          <div class="List" style="align-self: stretch; height: 61px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex">
            <div class="RowOrders" style="width: 279px; height: 61px; position: relative">
              <div class="Frame25" style="left: 38px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div class="2400DesignChanges" style="width: 302px"><span style="color: #7B62E4; font-size: 16px; font-family: Open Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">모짜렐라 치즈<br/></span><span style="color: #8392AB; font-size: 16px; font-family: Open Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">제품 id : 2356919400039</span></div>
                <div class="Dec720Pm" style="width: 277px"><span style="color: #212529; font-size: 16px; font-family: Open Sans; font-weight: 700; line-height: 24px; word-wrap: break-word">남은 기한 </span><span style="color: #F5365C; font-size: 16px; font-family: Open Sans; font-weight: 700; line-height: 24px; word-wrap: break-word"> : 17일 </span></div>
              </div>
              <div class="Vector25" style="width: 0px; height: 35px; left: 7.39px; top: 26px; position: absolute; border: 2px #E9ECEF solid"></div>
              <div class="IconsSolid" style="width: 13.13px; height: 16px; left: 0px; top: 3px; position: absolute"></div>
            </div>
          </div>
        </div>
        <div class="Group19" style="width: 609px; height: 664px; left: 730px; top: 0px; position: absolute">
          <div class="Frame33" style="width: 609px; height: 664px; left: 0px; top: 0px; position: absolute; border: 1px rgba(58.80, 45.62, 243.31, 0.39) solid; background-image: url(https://via.placeholder.com/609x664); flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div class="Rectangle75" style="width: 494px; height: 47px; background: #212529; border-radius: 40px"></div>
            <div class="040" style="width: 473px; color: white; font-size: 29px; font-family: Open Sans; font-weight: 600; line-height: 47.12px; word-wrap: break-word">온도 : 0 도  |  습도 : 40%  | 날짜 :</div>
            <div class="Rectangle74" style="width: 459px; height: 91px; opacity: 0.70; background: #CDFAFF; border-radius: 40px"></div>
            <img class="ImgPlaceholder" style="width: 48px; height: 48px; border-radius: 12px" src="https://via.placeholder.com/48x48" />
            <img class="ImgPlaceholder" style="width: 48px; height: 48px; border-radius: 12px" src="https://via.placeholder.com/48x48" />
            <div class="Null" style="width: 71px; height: 48px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 600; line-height: 35.75px; word-wrap: break-word">NULL</div>
            <div class="Null" style="width: 87px; height: 48px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 600; line-height: 35.75px; word-wrap: break-word">NULL</div>
            <img class="ImgPlaceholder" style="width: 48px; height: 48px; border-radius: 12px" src="https://via.placeholder.com/48x48" />
            <div class="Null" style="width: 71px; height: 48px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 600; line-height: 35.75px; word-wrap: break-word">NULL</div>
            <div class="Rectangle72" style="width: 459px; height: 91px; opacity: 0.70; background: #CDFAFF; border-radius: 40px"></div>
            <img class="ImgPlaceholder" style="width: 48px; height: 48px; border-radius: 12px" src="https://via.placeholder.com/48x48" />
            <img class="ImgPlaceholder" style="width: 48px; height: 48px; border-radius: 12px" src="https://via.placeholder.com/48x48" />
            <img class="ImgPlaceholder" style="width: 48px; height: 48px; border-radius: 12px" src="https://via.placeholder.com/48x48" />
            <div class="Null" style="width: 71px; height: 48px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 600; line-height: 35.75px; word-wrap: break-word">NULL</div>
            <div class="Null" style="width: 71px; height: 48px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 600; line-height: 35.75px; word-wrap: break-word">NULL</div>
            <div class="Null" style="width: 87px; height: 48px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 600; line-height: 35.75px; word-wrap: break-word">NULL</div>
            <div class="Rectangle73" style="width: 459px; height: 91px; opacity: 0.70; background: #CDFAFF; border-radius: 40px"></div>
            <img class="ImgPlaceholder" style="width: 48px; height: 48px; border-radius: 12px" src="https://via.placeholder.com/48x48" />
            <div class="Null" style="width: 71px; height: 48px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 600; line-height: 35.75px; word-wrap: break-word">NULL</div>
            <img class="ImgPlaceholder" style="width: 48px; height: 48px; border-radius: 12px" src="https://via.placeholder.com/48x48" />
            <div class="Null" style="width: 71px; height: 48px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 600; line-height: 35.75px; word-wrap: break-word">NULL</div>
            <img class="ImgPlaceholder" style="width: 48px; height: 48px; border-radius: 12px" src="https://via.placeholder.com/48x48" />
            <div class="Null" style="width: 71px; height: 48px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 600; line-height: 35.75px; word-wrap: break-word">NULL</div>
            <div class="Rectangle71" style="width: 459px; height: 91px; opacity: 0.70; background: #CDFAFF; border-radius: 40px"></div>
            <div class="Null" style="width: 71px; height: 48px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 600; line-height: 35.75px; word-wrap: break-word">NULL</div>
            <img class="ImgPlaceholder" style="width: 48px; height: 48px; border-radius: 12px" src="https://via.placeholder.com/48x48" />
            <div class="Null" style="width: 71px; height: 48px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 600; line-height: 35.75px; word-wrap: break-word">NULL</div>
            <img class="ImgPlaceholder" style="width: 48px; height: 48px; border-radius: 12px" src="https://via.placeholder.com/48x48" />
            <div class="Null" style="width: 71px; height: 48px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 600; line-height: 35.75px; word-wrap: break-word">NULL</div>
            <img class="ImgPlaceholder" style="width: 48px; height: 48px; border-radius: 12px" src="https://via.placeholder.com/48x48" />
          </div>
          <div class="ButtonTallFlexiblePrimaryBlack" style="width: 207px; height: 38px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; left: 349px; top: 71px; position: absolute; background: #212529; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); border-radius: 8px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
            <div class="ButtonText" style="text-align: right; color: #DF91E0; font-size: 20px; font-family: Open Sans; font-weight: 700; line-height: 30px; word-wrap: break-word">냉장고 상세 물품 보기</div>
          </div>
        </div>
        <div class="Group20" style="width: 423px; height: 594px; left: 293px; top: 2px; position: absolute">
          <div class="Center" style="width: 381px; height: 96px; left: 22px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 30px; display: inline-flex">
            <div class="Billing" style="width: 374px; height: 26px; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 1px; display: flex">
              <div class="20xxXxXxXxXx" style="width: 381px; height: 86px"><span style="color: #7B62E4; font-size: 37px; font-family: Open Sans; font-weight: 600; line-height: 60.12px; word-wrap: break-word">메모장</span><span style="color: #7B62E4; font-size: 16px; font-family: Open Sans; font-weight: 600; line-height: 26px; word-wrap: break-word"> <br/>작성 일자 - 20xx 년  xx 월 xx 일 xx시 xx분</span></div>
            </div>
          </div>
          <img class="Image8" style="width: 423px; height: 486px; left: 0px; top: 78px; position: absolute" src="https://via.placeholder.com/423x486" />
          <div class="QuestEven" style="width: 333px; height: 309px; left: 55px; top: 183px; position: absolute"><span style="color: black; font-size: 23px; font-family: Open Sans; font-weight: 600; line-height: 37.38px; word-wrap: break-word">Quest<br/></span><span style="color: black; font-size: 22px; font-family: Open Sans; font-weight: 600; line-height: 35.75px; word-wrap: break-word">국<br/>쌀밥<br/>even하게 익은 고기<br/>계란찜</span></div>
          <div class="ButtonTallFlexiblePrimaryBlack" style="width: 78px; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; left: 16px; top: 554px; position: absolute; background: #6F42C1; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); border-radius: 8px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
            <div class="ButtonText" style="text-align: right; color: white; font-size: 12px; font-family: Open Sans; font-weight: 700; line-height: 18px; word-wrap: break-word">이전 메모</div>
          </div>
          <div class="ButtonTallFlexiblePrimaryBlack" style="width: 92px; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; left: 117px; top: 554px; position: absolute; background: #596CFF; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); border-radius: 8px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
            <div class="ButtonText" style="text-align: right; color: white; font-size: 12px; font-family: Open Sans; font-weight: 700; line-height: 18px; word-wrap: break-word">새 메모 작성</div>
          </div>
          <div class="ButtonTallFlexiblePrimaryBlack" style="width: 77px; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; left: 232px; top: 554px; position: absolute; background: #596CFF; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); border-radius: 8px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
            <div class="ButtonText" style="text-align: right; color: white; font-size: 12px; font-family: Open Sans; font-weight: 700; line-height: 18px; word-wrap: break-word">메모 삭제</div>
          </div>
          <div class="ButtonTallFlexiblePrimaryBlack" style="width: 78px; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; left: 332px; top: 554px; position: absolute; background: #6F42C1; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); border-radius: 8px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
            <div class="ButtonText" style="text-align: right; color: white; font-size: 12px; font-family: Open Sans; font-weight: 700; line-height: 18px; word-wrap: break-word">다음 메모</div>
          </div>
        </div>
        <div class="Group18" style="width: 417px; height: 658px; left: 1353px; top: 0px; position: absolute">
          <div class="Center" style="width: 374px; height: 96px; left: 7px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 30px; display: inline-flex">
            <div class="Billing" style="width: 374px; height: 26px; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 1px; display: flex">
              <div class="20xxXxXxXxXx" style="width: 381px; height: 86px"><span style="color: #7B62E4; font-size: 37px; font-family: Open Sans; font-weight: 600; line-height: 60.12px; word-wrap: break-word">레시피 : 허니 웨지 감자<br/></span><span style="color: #7B62E4; font-size: 16px; font-family: Open Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">저자  - 베네딕토 16세</span></div>
            </div>
          </div>
          <div class="Frame34" style="width: 417px; height: 538px; left: 0px; top: 63px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="width: 391px; height: 34px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 700; line-height: 33px; word-wrap: break-word">1 . 감자를 먹기 좋은 모양으로 잘라 줍니다.</div>
            <img class="ImgPlaceholder" style="width: 238px; height: 73px; border-radius: 12px" src="https://via.placeholder.com/238x73" />
            <div class="20" style="width: 391px; height: 34px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 700; line-height: 33px; word-wrap: break-word">2 . 감자의 전분을 뺴기 위해 물에 20분간 담궈 둡니다.</div>
            <img class="ImgPlaceholder" style="width: 238px; height: 73px; border-radius: 12px" src="https://via.placeholder.com/238x73" />
            <div style="width: 391px; height: 34px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 700; line-height: 33px; word-wrap: break-word">3 . 전분을 빼는 동안 꿀,소금,버터,후추를 한스푼씩 넣어서 양념을 만들어 줍니다. </div>
            <img class="ImgPlaceholder" style="width: 238px; height: 73px; border-radius: 12px" src="https://via.placeholder.com/238x73" />
            <div style="width: 391px; height: 34px; color: black; font-size: 22px; font-family: Open Sans; font-weight: 700; line-height: 33px; word-wrap: break-word">4 . 물에 담궈둔 감자를 꺼내 물기를 딲아 주고  만들어 두었던 양념을 골고루 묻혀줍니다.</div>
            <img class="ImgPlaceholder" style="width: 238px; height: 73px; border-radius: 12px" src="https://via.placeholder.com/238x73" />
          </div>
          <div class="ButtonTallFlexiblePrimaryBlack" style="width: 89px; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; left: 314px; top: 617px; position: absolute; background: #596CFF; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); border-radius: 8px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
            <div class="ButtonText" style="text-align: right; color: white; font-size: 12px; font-family: Open Sans; font-weight: 700; line-height: 18px; word-wrap: break-word">다음 페이지</div>
          </div>
          <div class="ButtonTallFlexiblePrimaryBlack" style="width: 89px; height: 40px; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; left: 0px; top: 618px; position: absolute; background: #596CFF; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25); border-radius: 8px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
            <div class="ButtonText" style="text-align: right; color: white; font-size: 12px; font-family: Open Sans; font-weight: 700; line-height: 18px; word-wrap: break-word">이전 페이지</div>
          </div>
        </div>
      </div>
      <div class="SeparatorGradient" style="width: 1772px; height: 0px; border: 1px #E0E1E2 solid"></div>
    </div>
  </div>