<!--
=========================================================
* Argon Dashboard 2 PRO - v2.0.5
=========================================================

* Product Page:  https://www.creative-tim.com/product/argon-dashboard-pro 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../../../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../../../assets/img/favicon.png">
  <title>
    Thehaji
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../../../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../../../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../../../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../../../assets/css/argon-dashboard.css?v=2.0.5" rel="stylesheet" />
</head>

  <div class="min-height-300 bg-primary position-absolute w-100"></div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- Card header -->
            <div class="card-header pb-0">
              <div class="d-lg-flex">
                <div>
                  <h5 class="mb-0">장바구니</h5>
                  <p class="text-sm mb-0">
                    장바구니를 찾아 재료를 구매하세요~
                  </p>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-0">
              <div class="table-responsive">
                <table class="table table-flush" id="products-list">
                  <thead class="thead-light">
                    <tr>
                      <th>img</th>
                      <th>food_id</th>
                      <th>id</th>
                      <th>volume</th>
                      <th>count</th>
                      <th>money</th>
                      <th>total money</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each ="rep : ${cartList}">
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="customCheck1">
                          </div>
                          <p class="text-xs font-weight-bold ms-2 mb-0" th:utext="${rep.id}"></p>
                        </div>
                      </td>
                      <td>
                        <img class="w-50" src="" alt="    ">
                      </td>
                      <td class="text-sm" th:utext="${rep.food_id}"></td>
                      <td class="text-sm">
                        <a href="javascript:;" th:href="@{/updateViewBrd/{id}(id=${rep.id})}" data-bs-toggle="tooltip" data-bs-original-title="Preview product">
                          
                        <span class="badge badge-info badge-sm"> 요리하기 </span>
                        </a>
                      </td>
                      <td class="text-sm" th:utext="${rep.volume}"></td>
                      <td class="text-sm" > 
                        <select id="rep.count" name="rep.count">
                          <option th:each="i : ${#numbers.sequence(0, 10)}" th:value="${i}" th:text="${i}"
                            th:selected="${i==rep.count}"></option>
                        </select>
                      </td>
                      <td class="text-sm" th:utext="${rep.money}"></td>
                      <td class="text-sm" th:utext="${rep.money} * ${rep.count}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../../../assets/js/core/popper.min.js"></script>
  <script src="../../../assets/js/core/bootstrap.min.js"></script>
  <script src="../../../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../../../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../../../assets/js/plugins/datatables.js"></script>
  <script>
    if (document.getElementById('products-list')) {
      const dataTableSearch = new simpleDatatables.DataTable("#products-list", {
        searchable: true,
        fixedHeight: false,
        perPage: 5
      });
    };
  </script>
  <!-- Kanban scripts -->
  <script src="../../../assets/js/plugins/dragula/dragula.min.js"></script>
  <script src="../../../assets/js/plugins/jkanban/jkanban.js"></script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../../../assets/js/argon-dashboard.min.js?v=2.0.5"></script>
</body>

</html>